body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
}

#app {
    h1 {
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        padding: 16px 0;
        >button {
            float: right;
        }
    }
    ul {
        padding: 0;
    }
    li {
        line-height: 1.5;
        list-style: none;
        span {
            &.done {
                text-decoration: line-through;
                color: #bbb;
            }
        }
    }
    input[type="text"] {
        height: 18px;
        line-height: 18px;
        padding: 2px;
    }
}

.info {
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
}

.command {
    font-size: 12px;
    cursor: pointer;
    color: #08c;
}